<div class="index">
  <%= link_to 'タスク作成', new_task_path %>
  <table>
    <tr>
      <th>内容</th>
      <th>タイトル</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to '詳細', task_path(task.id) %></td>
        <td><%= link_to '編集', edit_task_path(task.id) %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete, data: {confirm: '削除してもよろしいですか？'} %></td>
      </tr>
    <% end %>
  </table>
</div>