<div class="form">
  <%= form_with(model: @task, local: true,url: admin_tasks_path) do |f| %>
    <% if @task.errors.any? %>
      <p><%= pluralize(@task.errors.count, 'error') %></p>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.label :title, class: 'label-control' %>
    <%= f.text_field :title ,class: 'form-control'%>
    <%= f.label :content, class: 'label-control' %>
    <%= f.text_field :content, class: 'form-control' %>

    <%= f.label :end_date, class: 'label-control' %>
    <%= f.date_field :end_date, value: Time.now.strftime("%Y年%m月%d日"),
                                  class: 'form-control'%><br>
    <%= f.label :status , class: 'label-control'%>
    <%=  f.select :status, [["未着手", "未着手"],["着手中", "着手中"],["完了", "完了"]] , {}, class: 'form-control'%>
    <%= f.label :priority, '優先順位' , class: 'label-control'%>
    <%= f.select :priority, [["低", 0],["中", 1],["高", 2]], {}, class: 'form-control'%>
    <%= f.hidden_field :user_id %>
    <%= f.submit '登録', id: 'create_button', class: 'btn btn-primary' %>
    <%= link_to '戻る', tasks_path , class: 'btn btn-success'%>
  <% end %>
</div>