<div class="form">
  <%= form_with(model: @user, local: true) do |f| %>
    <% if @user.errors.any? %>
      <div class=errors_explanation>
        <%= pluralize(@user.errors.count, 'error') %>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :name%>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <!--  #<%= f.label :image %>
    #<%= f.file_field :image %> 
    -->

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "登録", class: "btn btn-primary" %>
  <% end %>
</div>
