<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <% if logged_in? %>
              <%= link_to 'プロフィール', user_path(current_user.id), class: 'loggedin' %>
              <%= link_to 'ログアウト', session_path(current_user.id),method: :delete ,data: {confirmation: 'ログアウトしてもよろしいですか？'}, class: 'loggedin' %>
            <% else %>
              <%= link_to 'ログイン', new_session_path, class: 'login' %>
              <%= link_to 'サインイン', new_user_path, class: 'login' %>
            <% end %>
          </div>
        </div>
      </div>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class: key) %>
    <% end %>
  </header>
  <div class="wrapper">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
