<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <% if logged_in? && current_user.admin? %>
          <div class="left">
            <%= link_to 'ユーザー作成', new_admin_user_path,  class: 'btn btn-primary btn-xs admin_loggedin',id: "user_create" %>
            <%= link_to 'ユーザー一覧', admin_users_path(current_user.id), class: 'btn btn-info admin_loggedin' %>
          </div>
          <div class="right">
            <%= link_to 'プロフィール', admin_user_path(current_user.id), class: 'admin_loggedin_right' %>
            <%= link_to 'ログアウト', session_path(current_user.id),method: :delete ,data: {confirmation: 'ログアウトしてもよろしいですか？'}, class: 'admin_loggedin_right' %>
          </div>
        <% elsif logged_in? %>
          <div class="left">
            <%= link_to 'タスク作成', new_task_path, id: 'new_link', class: 'btn btn-primary loggedin' %>
            <%= link_to 'タスク一覧', tasks_path, class: 'btn btn-info loggedin' %>
            <%= link_to '自分専用ラベル作成', new_label_path, class: 'btn btn-primary' %>
           </div>
          <div class="right">
            <%= link_to 'プロフィール', user_path(current_user.id), class: 'loggedin_right' %>
            <%= link_to 'ログアウト', session_path(current_user.id),method: :delete ,data: {confirmation: 'ログアウトしてもよろしいですか？'}, class: 'loggedin_right' %>
          </div>
        <% else %>
          <div class="right">
            <%= link_to 'ログイン', new_session_path, class: 'login' %>
            <%= link_to 'サインイン', new_user_path, class: 'login' %>
          </div>
        <% end %>
      </div>
  </header>
  <div class="flash">
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class: key) %>
    <% end %>
  </div>
  <div class="wrapper">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
